[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ethnobotanyR"]
	path = ethnobotanyR
	url = https://github.com/cwwhitney/ethnobotanyr
